h2{
  font-family: 'Krona One';
}

p{
  font-family: 'Krona One';
  opacity: 50%;
}

a{
  font-family: 'Krona One';
  text-decoration: none;
  color: #000;
}

.course-container{
  display: flex;
  width: 80%;
  margin-top: 2%;
  margin-bottom: 2%;
  margin-left: 10%;
  margin-right: 10%;
  justify-content: center;
  min-height: 400px;
}

.course-card{
  display: flex;
  flex-direction: column;
  width: 33%;
  height: 80%;
  border-right: 2px solid;
  margin-right: 15px;
}

.course-card-last{
  display: flex;
  flex-direction: column;
  width: 33%;
  margin-right: 15px;
}

.card-header{

}

.course-desc{

}

.learn-more{
  display: flex;
  align-items: center;
}

.text{
  transition: 0.1s ease-in;
}

.text:hover ~ .arrow{
  transform: translateX(50%);
}

.arrow{
  margin-left: 10%;
  cursor: pointer;
  transition: 0.1s ease-in;
}

.arrow:hover{
  transform: translateX(50%);
}
