<div class="course-container">
  <div class="course-card">
    <div class="card-header">
      <h2>Course 1</h2>
    </div>
    <div class="course-desc">
      <p>Conjoint is an elite pricing tool that gauges consumer preferences
         and product elasticity. Its simulator identifies optimal pricing for
          maximum profit.
      </p>
    </div>
    <div class="learn-more">
      <div class="text">
        <a href="">Learn More</a>
      </div>
      <div class="arrow">
        <img src="assets/img/home/right-arrow.svg" alt="">
      </div>
    </div>
  </div>
  <div class="course-card">
    <div class="card-header">
      <h2>Course 1</h2>
    </div>
    <div class="course-desc">
      <p>Conjoint is an elite pricing tool that gauges consumer preferences
         and product elasticity. Its simulator identifies optimal pricing for
          maximum profit.
      </p>
    </div>
    <div class="learn-more">
      <div class="text">
        <a href="">Learn More</a>
      </div>
      <div class="arrow">
        <img src="assets/img/home/right-arrow.svg" alt="">
      </div>
    </div>
  </div>
  <div class="course-card-last">
    <div class="card-header">
      <h2>Course 1</h2>
    </div>
    <div class="course-desc">
      <p>Conjoint is an elite pricing tool that gauges consumer preferences
         and product elasticity. Its simulator identifies optimal pricing for
          maximum profit.
      </p>
    </div>
    <div class="learn-more">
      <div class="text">
        <a href="">Learn More</a>
      </div>
      <div class="arrow">
        <img src="assets/img/home/right-arrow.svg" alt="">
      </div>
    </div>
  </div>
</div>
