<div class="modal-overlay">
  <div class="modal-content">
    <div class="left">
      <h1>{{ data.name }}<br> {{ data.firstName }}</h1>
      <h4>{{ data.location }}<span class="fade">{{ data.position }}</span></h4>
      <p>{{ data.content }}</p>
      <div class="facts">
        <p>{{ data.funFact1 }}</p>
        <p>{{ data.funFact2 }}</p>
      </div>
    </div>

    <div class="right">
      <button (click)="closeModal()">Close</button>
      <img src="" alt="">
      <div>
        <a href=""></a>
        <img src="" alt="">
      </div>
    </div>
  </div>

</div>
