img{
  width: 200px;
  padding: 20px;
  height: auto;
  object-fit: cover;
  overflow: hidden;
  border-radius: 58px;
}

a{
  background-color: #ffff;
  color: black;
  border-radius: 24px;
  padding: 8px;
  text-decoration: none;
  font-family: 'Open Sans', sans-serif;
}

p{
  font-family: 'Open Sans', sans-serif;
}

.container{
  background-color: #FAD793;
  min-height: 800px;
  top: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.top-container{
  display: flex;
  flex-direction: row;
  width: 90%;
  justify-content: space-around;
  align-content: center;
  min-height: 460px;
}

.left-container{
  width: 60%;
  justify-self: end;
  margin-top: 50px;
}

div.left-container h1{
  font-size: 55px;
  font-weight: 700;
  font-family: 'Open Sans', sans-serif;
  text-align: end;
  line-height: 60px;
  width: 90%;
}

.right-container{
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 30%;
  font-family: 'Open Sans', sans-serif;
  font-size: 20px;
  margin-top: 50px;
}

.bottom-container{
  display: flex;
  justify-content: space-between;
  width: 80%;
}

.filters{
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 25%;
}

.btn{
  width: 150px;
}

.filter-text{
  display: flex;
  align-items: flex-start;
  width: 60%;
  padding: 20px;
}

.members{
  width: 50%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.first{
  margin-top: 80px;
}

.second{

}

.member-img{
  justify-self: flex-end;

}

.member-container {
  position: relative;
  display: inline-block;
}

.show-more {
  position: absolute;
  top: 10px;
  right: 10px;
  width: 40px; /* Adjust the size of the icon */
  height: 40px;
  cursor: pointer;
  transition: transform 0.7s ease-in-out;
}

.member-img-2{
  transition: transform 0.7s ease-in-out;
}

.show-more:hover{
  transform: scale(1.4);
}

@media screen and (max-width: 776px) {
  .top-container{
    flex-direction: column;
    align-items: center;
    width: 100%;
  }

  .left-container,
  .right-container{
    width: 90%;
  }

  .bottom-container{
    flex-direction: column;
    align-items: center;
    width: 100%;
  }

  .filters{
    width: 100%;
    display: flex;
    justify-content: center;
  }

  .btn{
    display: flex;
    justify-content: center;
  }

  .filter-text{
    width: 20%;
    margin-top: 13px;
  }

  .members{
    align-items: center;
    justify-content: center;
  }
}

@media screen and (max-width: 499px) {
  .filter-text p.bold{
    font-size: 10px;
  }
}
