<app-header></app-header>
  <div class="container">
    <div class="top-container">
      <div class="left-container">
        <h1>We're based across
          the globe but share
          one drive.
        </h1>
      </div>
      <div class="right-container">
        <p>We’re operators, founders, engineers, and specialists turned investors. We’re mountaineers, fly fishers, dog lovers, hobby DJs, adventurous skiers, aspiring tennis pros, parents, and foodies. We’re enthusiasts and realists. We’re explorers and builders working to support the people and ideas changing the world.</p>
        <p>And you’ll never get only one of us. The united experience of our team stands behind you.</p>
      </div>
    </div>
    <div class="bottom-container">
      <div class="filters">
        <div class="btn">
          <a href="">FILTER &#x2b;</a>
        </div>
        <div class="filter-text">
          <p class="bold">LASH TEAM</p>
        </div>
      </div>
      <div class="members">
        <div class="first">
          <div class="member-container">
            <img class="member-img" src="assets/img/services/service-5.jpg" alt="">
            <img class="show-more" src="assets/img/team/plus.svg" alt="" (click)="openModal()">
          </div>
        </div>
        <div class="second">
          <div class="member-container">
            <img class="member-img-2" src="assets/img/services/service-3.jpg" alt="">
            <img class="show-more" src="assets/img/team/plus.svg" alt="" (click)="openModal()">
          </div>
        </div>
      </div>
    </div>
  </div>
<app-footer-team></app-footer-team>
