<div class="philo-container"><!-- ROW -->
  <div class="img-container">
    <img class="img" src="assets/img/home/home-2.jpg" alt="">
    <!--    <img class="img" [src]="item.img" alt="">  -->
  </div>
  <div class="text-container"> <!-- COLUMN -->
    <h2>{{ item.title }}</h2>
    <p>{{ item.overview }}</p>
    <p *ngIf="showMoreInfo">{{ item.showMore }}</p> <!-- Additional paragraph -->
    <div class="btn">
      <img (click)="toggleMoreInfo()" class="tag" src="assets/img/specific-classes/plus.svg" alt=""><!-- SVG -->
    </div>
  </div>

</div>
