<div class="section-container">
  <div class="contact-container">
    <div class="header-contact">
      <p class="unbolded">MAKE BETTER</p>
      <p class="bolded">Business Decisions</p>
    </div>
    <div class="contact-desc">
      <p>Explore our success stories and learn how we've successfully helped
         different businesses. Or get in touch with us to schedule an introductory call.
      </p>
    </div>
    <div class="button-section">
        <a class="left-btn" href="">Schedule a call</a>
        <a class="right-btn" href="">Schedule a call</a>
    </div>
  </div>
</div>
