<div class="top-header">
    <div class="logo-section">
        <img style="cursor: pointer;" src="assets/img/logo/logo-black.png" alt="">
    </div>
    <div *ngIf="!isMobile" class="text-section">
        <a class="normal-button" href="#">HOME</a>
        <a class="normal-button" href="#">CLASSES</a>
        <a class="normal-button" href="#">SERVICES</a>
        <a class="normal-button" href="#">CONTACT</a>
        <a class="special-button" href="#">BOOK NOW</a>
    </div>
    <div *ngIf="isMobile" class="text-section">
      <img src="assets/img/header/menu.svg" alt="">
  </div>
</div>
