<div class="top-header">
    <div class="logo-section">
        <img style="cursor: pointer;" src="assets/img/logo/logo-black.png" alt="">
    </div>
    <div *ngIf="!isMobile" class="text-section">
        <a class="normal-button" href="/">HOME</a>
        <a class="normal-button" href="/classes">CLASSES</a>
        <a class="normal-button" href="services">SERVICES</a>
        <a class="normal-button" href="/contact">CONTACT</a>
        <a class="special-button" href="/book">BOOK NOW</a>
    </div>
    <div *ngIf="isMobile" class="text-section">
      <img src="assets/img/header/menu.svg" alt="">
  </div>
</div>
