<div class="section-container"><!-- COLUMN -->
  <div class="item-container">
    <div class="inside-items">
      <div class="round-item">
        <p class="text-round">This is a quick and easy template to describe
          and show the services
        </p>
      </div>
      <div class="descriptions">
        <div class="top-header">
          <h2>MAKE BETTER</h2>
        </div>
        <div class="desc">
          <p>Explore our success stories and learn how we've successfully
            helped different businesses. Or get in touch with us to schedule
            an introductory call.
          </p>
        </div>
        <a class="button" href="">Schedule a call</a>
      </div>
      <div class="round-item">
        <img src="assets/img/home/home-1.jpg" alt="">
      </div>
    </div>
  </div>
  <div class="item-container">
    <div class="inside-items">
      <div class="round-item">
        <img src="assets/img/home/home-1.jpg" alt="">
      </div>
      <div class="descriptions">
        <div class="top-header">
          <h2>MAKE BETTER</h2>
        </div>
        <div class="desc">
          <p>Explore our success stories and learn how we've successfully
             helped different businesses. Or get in touch with us to schedule
             an introductory call.
          </p>
        </div>
        <a class="button" href="">Schedule a call</a>
      </div>
      <div class="round-item">
        <p class="text-round">This is a quick and easy template to describe
          and show the services
        </p>
      </div>
    </div>
  </div>
  <div class="item-container">
    <div class="inside-items">
      <div class="round-item">
        <p class="text-round">This is a quick and easy template to describe
           and show the services
        </p>
      </div>
      <div class="descriptions">
        <div class="top-header">
          <h2>MAKE BETTER</h2>
        </div>
        <div class="desc">
          <p>Explore our success stories and learn how we've successfully
            helped different businesses. Or get in touch with us to schedule
            an introductory call.
         </p>
        </div>
        <a class="button" href="">Schedule a call</a>
      </div>
      <div class="round-item">
        <img src="assets/img/home/home-1.jpg" alt="">
      </div>
    </div>
  </div>
</div>
