<div class="section-container">
  <div class="contact-container">
    <div class="header-contact">
      <p class="unbolded">MAKE BETTER</p>
      <p class="bolded">Beauty Decisions</p>
    </div>
    <div class="contact-desc">
      <p>Empower yourself to make informed decisions about your beauty journey. Our
        expert guidance and personalized consultations ensure you receive the best
        treatments tailored to your needs and goals. Take the first step towards enhancing
        your natural beauty and confidence by booking an appointment or contacting us today.
      </p>
    </div>
    <div class="button-section">
        <a class="left-btn" href="">BOOK NOW</a>
        <a class="right-btn" href="">REACH OUT</a>
    </div>
  </div>
</div>
