/* carousel.component.css */
a{
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #3a5a40;
  border-radius: 24px;
  width: 50%;
  height: auto;
  padding: 10px;
  text-decoration: none;
  color: #FEFAE0;
  font-family: 'Krona One';
  text-align: center;
  overflow: hidden;
}

h1{
  font-family: 'Krona One', sans-serif;
}

.carousel {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 900px; /* Adjust to center vertically */
}

.header {
  font-family: 'Krona One';
  margin-bottom: 2%;
}

.carousel-items {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 10%;
  margin-top: 7%;
}

.carousel-item {
  flex: 0 0 100%;
  filter: blur(5px); /* Initial blur for non-active items */
  transform: scale(0.8); /* Initial scale for non-active items */
  transition: transform 0.5s ease, filter 0.5s ease;
}

.carousel-item.active {
  filter: none; /* Remove blur for active item */
  transform: scale(1.5); /* Remove scale for active item */
  z-index: 1;

}

img {
  width: 100%; /* Adjust the width of the images */
  height: auto;
  border-radius: 8px;
}

.bottom-section{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-top: 10%;
  width: 50%;
}

.arrow {
  font-size: 40px;
  border-radius: 50%;
  cursor: pointer;
  color: white;
  width: 10%;
}

.left {
  left: 10px;
}

.right {
  right: 10px;
}

/* Add media query for smaller screens */
@media screen and (max-width: 1016px) {
 /* carousel.component.css */
a{
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #3a5a40;
  border-radius: 24px;
  width: 70%;
  height: auto;
  padding: 10px;
  text-decoration: none;
  font-size: 14px;
  color: #FEFAE0;
  font-family: 'Krona One';
  text-align: center;
  overflow: hidden;
}

.carousel {
  margin-top: 30px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 500px; /* Adjust to center vertically */
}

.header {
  font-family: 'Krona One';
  margin-bottom: 2%;
}

.carousel-items {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 10%;
  margin-top: 7%;
}

.carousel-item {
  flex: 0 0 100%;
  filter: blur(5px); /* Initial blur for non-active items */
  transform: scale(0.8); /* Initial scale for non-active items */
  transition: transform 0.5s ease, filter 0.5s ease;
}

.carousel-item.active {
  filter: none; /* Remove blur for active item */
  transform: scale(1.5); /* Remove scale for active item */
  z-index: 1;

}

img {
  width: auto; /* Adjust the width of the images */
  height: 150px;
  border-radius: 8px;
}

.bottom-section{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-top: 10%;
  width: 85%;
}

.arrow {
  font-size: 40px;
  border-radius: 50%;
  cursor: pointer;
  color: white;
  width: 10%;
}

.left {
  left: 10px;
}

.right {
  right: 10px;
}
}

@media screen and (max-width: 576px) {
  .carousel{
    margin-top: 10px !important;
  }

  img{
    height: 80px;
    width: auto;
  }
}
