<div class="courses-container">
  <div class="header-container">
    <h1>LEARN FROM THE<br>BEST <span class="color-change">AND JOIN OUR CLASSES</span></h1>
  </div>
  <div class="cards-container"><!-- ROW -->
    <div class="card-items" *ngFor="let item of classItems">  <!-- COLUMN -->
      <div>
        <img class="top-img" src="assets/img/services/service-1.jpg" alt="">
      </div>
      <div>
        <h2 class="title">SKINCARE</h2>
      </div>
      <div>
        <a [routerLink]="['/specific-class', item.title]" class="button" href="">LEARN MORE</a>
      </div>
    </div>
  </div>
</div>
