label{
  display: none;
}

p{
  margin-top: 30px;
  font-family: 'Krona One';
  font-size: smaller;
  text-align: justify;
}

h3{
  font-family: 'Krona One';
}

ul {
  list-style-type: none;
}

img{
  cursor: pointer;
}


a{
  text-decoration: none;
  color: #FEFAE0;
  font-family: 'Krona One';
  font-size: small;
}

a.privacy-link{
  text-decoration: none;
  color: #FEFAE0;
  font-family: 'Krona One';
  font-size: x-small;
}

a.cookie-link{
  text-decoration: none;
  color: #FEFAE0;
  font-family: 'Krona One';
  font-size: x-small;
  margin-left: 20px;
}

/* Add styling for other elements within .left-container */
.bottom {
  display: flex;
  justify-content: space-between;
  align-items: center;
  left: 0;
  bottom: 0;
  width: 100%;
  padding: 20px 0; /* Adjust padding as needed */
  background-color: #3A5A40;
  color: white;
  text-align: center;
  -moz-border-radius: 0px;
  -webkit-border-radius: 3px 3px 0px 0px;
  border-radius: 24px 24px 0px 0px;
}

.left-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 50%;
  margin-left: 4%;
}

.right-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 50%;
  margin-left: 4%;
}

.links-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
}

.left-links {
  display: flex;
  flex-direction: column;
  width: 50%;
}

.right-links {
  display: flex;
  flex-direction: column;
  width: 50%;
}

.icons-container {
  display: flex;
  justify-content: space-between;
  width: 100%;
  flex-direction: row;
  margin-top: 10%;
  margin-right: 10%;
}

.icons-container img{
  display: flex;
  flex-direction: row;
  margin-right: 20px;
  justify-content: flex-start;
  flex-direction: row;
  cursor: pointer;
  transition: transform 0.8 ease-in-out;
}

.icons-container img:hover{
  opacity: 25%;
}

.company-info {
  /* Add styling for .company-info and its children */
  margin-top: 50px;
  margin-left: 10px;
  transition: transform 0.8 ease-in-out;
}

a:hover{
  opacity: 25%;
}

.whole-container{
  background-color: #fff;
}

.top-logo {
  display: flex;
  justify-content: flex-start; /* Align to the left */
  align-items: center;
  width: 100%;
}

.top-logo img{
  height: auto;
}

.newsletter-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start; /* Align to the left */
  align-items: flex-start;
  width: 80%;
  margin-left: 0;
}

.newsletter-header {
  font-family: 'Krona One';
  margin-top: 7%;
}

.rounded-form{
  display: flex;
  align-items: center;
  background-color: #FEFAE0;
  width: 100%;
  border-radius: 24px;
}

.newsletter-input{
  height: 30px;
  width: 80%;
  border-radius: 24px;
  border: none;
  background-color: #FEFAE0;
}

.newsletter-input:focus{
  border-color: #FEFAE0;
}

.newsletter-submit{
  background-color: #f4a261;
  border-radius: 24px;
  height: 40px;
  width: 20%;
  border: #f4a261;
  cursor: pointer;
  transition: transform 2.5 ease-in-out;
}

.newsletter-submit:hover{
  background-color: #ffaf6e;
  border-radius: 24px;
  height: 40px;
  border: #ffaf6e;
  cursor: pointer;
}

/* Add media query for smaller screens */
@media screen and (max-width: 1016px) {

  p{
    margin-top: 30px;
    font-family: 'Krona One';
    font-size: smaller;
    text-align: justify;
    font-size: 7px;
  }

  a{
    font-size: 8px;
  }

  a.privacy-link{
    font-size: 10px;
  }

  a.cookie-link{
    text-decoration: none;
    color: #FEFAE0;
    font-family: 'Krona One';
    font-size: x-small;
    margin-left: 20px;
  }

  .left-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 45%;
  }

  .right-container {
    display: flex;
    flex-direction: column;
    width: 55%;
    row-gap: 20px;
  }

  .links-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
  }

  .left-links {
    display: flex;
    flex-direction: column;
    width: 50%;
    font-family: 14px;
  }

  .link-header{
    font-size: 14px;
  }

  .right-links {
    display: flex;
    flex-direction: column;
    width: 50%;
    font-size: 14px;
  }


  .icons-container {
    display: flex;
    justify-content: space-evenly;
    width: 100%;
    flex-direction: row;
    margin-top: 10%;
  }

  .icons-container img{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    cursor: pointer;
    transition: transform 0.8 ease-in-out;
    width: 40px;
  }

  .icons-container img:hover{
    opacity: 25%;
  }

  a.company-info{
    font-size: 8px;
  }

  a:hover{
    opacity: 25%;
  }

  .whole-container{
    background-color: #fff;
  }

  .newsletter-header {
    margin-top: 20%;
    font-size: 10px;
    width: 100%;
  }

  .newsletter-input:focus{
    border-color: #FEFAE0;
  }

  .newsletter-submit{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40%;
    padding: 10px;
  }

  .policies{
    margin-top: 20px;
    font-size: 7px;
  }
}

@media screen and (max-width: 576px) {
  .link-header{
    font-size: 10px;
  }

  a.privacy-link{
    font-size: 6px;
  }

  a.cookie-link{
    font-size: 6px;
  }

  .newsletter-header{
    font-size: 8px;
  }

  .right-container{
    margin-top: 20px;
  }

  .logo{
    object-fit: cover;
    overflow: hidden;
    width: 200px;
    height: auto;
  }
}
