<div class="description-container">
  <div class="left-top">
    <h3 class="unbolded-text">A Complete approach to<br> <b>your beauty<br>routine</b></h3>
  </div>
  <div class="right-top">
      <p class="desc-text">Our mission is to redefine your beauty experience with precision, innovation, and personalized care. From luxurious spa treatments to cutting-edge laser solutions, we're dedicated to enhancing your natural beauty and confidence. Trust us to elevate your beauty journey with top-tier services tailored to your unique needs and goals. Step into a world of beauty excellence with Topkare today.</p>
      <a href="/classes">Schedule a class with us</a>
  </div>
</div>
