<div class="main-container">
  <div class="row-items">
    <div class="item-1">
      <div class="first-row">
        <img src="assets/img/services/bank.svg" alt="">
        <h3>PRICE</h3>
      </div>
      <div class="second-row">
        <p>The price is determined by the service, the amount of time spent and the location where the service is given</p>
      </div>
      <div class="third-row">
        <a href="">More on price</a>
      </div>
    </div>
    <div class="item-2">
      <div class="first-row">
        <img src="assets/img/services/home.svg" alt="">
        <h3>LOCATION</h3>
      </div>
      <div class="second-row">
        <p>The price is determined by the service, the amount of time spent and the location where the service is given</p>
      </div>
      <div class="third-row">
        <a href="">More on price</a>
      </div>
    </div>
  </div>

  <div class="row-items">
    <div class="item-1">
      <div class="first-row">
        <img src="assets/img/services/lock.svg" alt="">
        <h3>SECURE</h3>
      </div>
      <div class="second-row">
        <p>The price is determined by the service, the amount of time spent and the location where the service is given</p>
      </div>
      <div class="third-row">
        <a href="">More on price</a>
      </div>
    </div>
    <div class="item-2">
      <div class="first-row">
        <img src="assets/img/services/clock.svg" alt="">
        <h3>CANCELLATION</h3>
      </div>
      <div class="second-row">
        <p>The price is determined by the service, the amount of time spent and the location where the service is given</p>
      </div>
      <div class="third-row">
        <a href="">More on price</a>
      </div>
    </div>
  </div>
</div>
