<div *ngIf="isOpen" class="container">
  <div class="left" (click)="toggleContainer()">
      <!-- Your left content goes here -->
  </div>
  <div class="right">
    <img class="close" src="assets/img/sidebar/close.svg" alt="" (click)="toggleContainer()">
    <a href="/"><img src="assets/img/logo/logo-black.png" alt=""></a>
      <a href="/">HOME</a>
      <a href="/classes">CLASSES</a>
      <a href="/services">SERVICES</a>
      <a href="/contact">CONTACT</a>
      <a href="/team">ABOUT US</a>
      <!--<a href="/contact">ABOUT USE</a>-->
      <p>©2024 COMPANY. ALL RIGHTS RESERVED | BINARYTECH</p>
  </div>
  <div class="overlay" (click)="toggleContainer()"></div>
</div>

