.container{
  height: 500px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.testimonial{
  position: relative;
  max-width: 900px;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
  width: 100%;
  padding: 50px 0;
}

.testimonial .image{
  height: 170px;
  width: 170px;
  object-fit: cover;
  border-radius: 50%;
}

.testimonial .slide{
  display: flex;
  align-items: center;
  justify-content: center;
  row-gap: 30px;
  flex-direction: column;
}

.slide p{
  padding: 0 100px;
  text-align: center;
  font-size: 14px;
  font-weight: 400;
  color: #FEFAE0;
}

.slide .quote-icon{
  font-size: 30px;
  color: #FEFAE0;
}

.slide .details{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.details .name{
  font-size: 14px;
  font-weight: 600;
  color: #FEFAE0;
}

.details .job{
  font-size: 14px;
  font-weight: 400;
  color: #FEFAE0;
}

/*   SLIDER CSS               */
.carousel-container{
  position: relative;
  margin: auto;
  text-align: center;
  width: 70%;
  border-radius: 15px;
  box-shadow: 0 6px 12px #dce1e1;
  margin-bottom: 40px;
  border-radius: 24px;
  background-color: #3A5A40;
}

img{
  object-fit: cover;
  width: 100%;
  overflow: hidden;
}

.carousel-container img.image-active{
  display: block;
  animation-name: slideIn;
  transition: 0.5s ease;
}

.carousel-container p.image-active{
  display: block;
  height: 20px;
  width: 60%;
  animation-name: slideIn;
  transition: 0.5s ease;
}

.carousel-container span.image-active{
  display: block;
  height: 20px;
  width: 100%;
  animation-name: slideIn;
  transition: 0.5s ease;
}

.carousel-container img{
  display: none;
}

.carousel-container p{
  display: none;
}

.carousel-container span{
  display: none;
}

.carousel-dot-container{
  position: absolute;
  right: 0;
  left: 0;
  bottom: 0;
  display: flex;
  justify-content: center;
  padding: 0;
  margin-bottom: 1rem;
}

.dot{
  cursor: pointer;
  height: 13px;
  width: 13px;
  margin: 0 5px;
  background-color: #FEFAE0;
  border-radius: 50%;
  display: inline-block;
  transition: opacity 0.6s ease;
  opacity: 0.5;
}

.active,
.dot:hover{
  opacity: 1;
}

.fade{
  animation-name: fade;
  animation-duration: 1.5s;
}

@keyframes fade {
  from{
    opacity: 0.4;
  }
  to{
    opacity: 1;
  }
}

@keyframes slideIn {
  from {
      transform: translateX(-100%);
      opacity: 0;
  }
  to {
      transform: translateX(0);
      opacity: 1;
  }
}

@keyframes slideOut {
  from {
      transform: translateX(100%);
      opacity: 1;
  }
  to {
      transform: translateX(0);
      opacity: 0;
  }
}

.btn-carousel{
  position: absolute;
  top: 0;
  bottom: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 15%;
  padding: 0;
  color: #000;
  text-align: center;
  background: 0 0;
  border: 0;
  cursor: pointer;
}

.btn-prev{
  left: 0;
}

.btn-next{
  right: 0;
}

.icon-carousel{
  color: #FEFAE0;
  opacity: 0.5;
  transition: all 0.15s ease;
}

.icon-carousel:hover{
  opacity: 0.9;
}

.icon-carousel:active{
  opacity: 0.5;
}

.icon-prev,
.icon-next{
  font-size: 45px;
}

@media screen and (max-width: 1100px){
  .testimonial .image{
    width: 100px;
    height: 100px;
  }

  .testimonial .slide{
    row-gap: 50px;
  }

  .slide p{
    font-size: 12px;
  }
}

@media screen and (max-width: 788px){
  .testimonial .slide{
    row-gap: 70px;
  }

  .slide .quote-icon{
    margin-top: 20px;
  }
}
