<div class="under-header">
  <div class="text-container">
    <img src="assets/img/header/arrow-left.svg" alt="">
    <a href="#">BACK TO HOME</a>
  </div>
  <hr>
  <div class="header-container">
    <div class="header">
      <h1>THE BEST CARE AND<br>SERVICES<span class="color"> OF YOU</span></h1>
    </div>
    <div class="right-container">
      <p>Get thoughtful and valuable advice on how to optimise pricing, enhance brand value, develop the right products and target the right customers. Our experts will guide you towards sustainable growth, consumer centricity and boosted profitability.</p>
      <div class="bottom-container">
        <a class="background" href="">BOOK NOW</a>
        <a class="background" href="contact">REACH OUT</a>
      </div>
    </div>
  </div>
</div>
