<div class="description-container">
  <div class="left-top">
    <h3 class="unbolded-text">A Holistic approach to<br> <b>your beauty<br>routine</b></h3>
  </div>
  <div class="right-top">
      <p class="desc-text">At boobook, our data-powered strategic consulting is built upon a foundation of four interconnected pillars. By leveraging these pillars, we help businesses achieve business excellence that drives growth and maximizes profitability.</p>
      <a href="">Schedule a class with us</a>
  </div>
</div>
