<div class="container">
  <div class="img-container">
    <img class="first" src="assets/img/services/service-2.jpg" alt="">
  </div>
  <div class="text-container">
    <div class="header">
      <h4>THIS IS WHAT WE OFFER</h4>
    </div>
    <div class="desc">
      <p>We believe in adopting consumer insights and strategic thinking to empower businesses. Our mission is to support thriving organisations through customised business strategies that bring value and drive growth.</p>
    </div>
    <div class="btn">
      <a class="effect" href="">Discover what we can do for you</a>
    </div>
  </div>
</div>
<div class="container">
  <div class="text-container-2">
    <div class="header">
      <h4>THIS IS WHAT WE OFFER</h4>
    </div>
    <div class="desc">
      <p>We believe in adopting consumer insights and strategic thinking to empower businesses. Our mission is to support thriving organisations through customised business strategies that bring value and drive growth.</p>
    </div>
    <div class="btn">
      <a class="effect" href="">Discover what we can do for you</a>
    </div>
  </div>
  <div class="img-container-2">
    <img class="second" src="assets/img/services/service-2.jpg" alt="">
  </div>
</div>


