<div class="philo-container"><!-- ROW -->
  <div class="img-container">
    <img class="img" src="assets/img/home/home-2.jpg" alt="">
  </div>
  <div class="text-container"> <!-- COLUMN -->
    <h2>OUR PHILOSOPHY</h2>
    <p>We believe in adopting consumer insights and strategic thinking
       to empower businesses. Our mission is to support thriving organisations
        through customised business strategies that bring value and drive growth.
    </p>
    <div class="btn">
      <img class="tag" src="assets/img/specific-classes/plus.svg" alt=""><!-- SVG -->
    </div>
  </div>

</div>
