/* carousel.component.css */
.carousel {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  min-height: 500px;
}

h1{
  font-family: 'Krona One';
}

h2{
  font-family: 'Open Sans', sans-serif;
  color: rgba(72, 132, 83, 0.75);
}

h3{
  font-family: 'Open Sans', sans-serif;
  color: rgba(72, 132, 83, 1);
}

p{
  font-family: 'Open Sans', sans-serif;
  font-weight: 600;
  color: #ADC178;
  text-shadow: 3px 3px 0px rgba(173, 193, 120, 0.4);
}

.carousel-items {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  transition: transform 0.7s ease-in-out, filter 0.5s ease-in-out;
  -webkit-transition: transform 0.7s ease-in-out, filter 0.5s ease-in-out;
  -moz-transition: transform 0.7s ease-in-out, filter 0.5s ease-in-out;
  -o-transition: transform 0.7s ease-in-out, filter 0.5s ease-in-out;
  transition-duration: 1.5s;  min-height: 200px;
}

.carousel-item {
  text-align: center;
  transform: scale(0.8); /* Initial scale for non-active items */
  transition: transform 0.7s ease-in-out, filter 0.5s ease-in-out;
  -webkit-transition: transform 0.7s ease-in-out, filter 0.5s ease-in-out;
  -moz-transition: transform 0.7s ease-in-out, filter 0.5s ease-in-out;
  -o-transition: transform 0.7s ease-in-out, filter 0.5s ease-in-out;
  transition-duration: 1.5s;
}

.carousel-item:not(.active) {
  filter: blur(2px);
  transform: translateY(50%);
  width: 20%;
  transition: transform 0.7s ease-in-out, filter 0.5s ease-in-out;
  -webkit-transition: transform 0.7s ease-in-out, filter 0.5s ease-in-out;
  -moz-transition: transform 0.7s ease-in-out, filter 0.5s ease-in-out;
  -o-transition: transform 0.7s ease-in-out, filter 0.5s ease-in-out;
  transition-duration: 1.5s;
}

.bottom-section {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 40%;
}

.arrow {
  font-size: 40px;
  background: transparent;
  border: none;
  border-radius: 50%;
  cursor: pointer;
  color: white;
  transition: background-color 0.3s ease; /* Ajout de la transition pour un effet fluide */
}

.left {

}

.right {

}

/* Centrer l'item actif dans le carousel */
.carousel-item.active {
  transform: translateY(0);
  transform: scale(1.2);
  transition: transform 0.7s ease-in-out, filter 0.5s ease-in-out;
  -webkit-transition: transform 0.7s ease-in-out, filter 0.5s ease-in-out;
  -moz-transition: transform 0.7s ease-in-out, filter 0.5s ease-in-out;
  -o-transition: transform 0.7s ease-in-out, filter 0.5s ease-in-out;
  transition-duration: 1.5s;
}

/* carousel.component.css */
/* ... */
.carousel-items.slide-left {
  transform: translateX(-100%);
}

.carousel-items.slide-right {
  transform: translateX(100%);
}

.text-section{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
